@tailwind base;
@tailwind components;
@tailwind utilities;


.hero-shadow {
    background-image: linear-gradient(0deg, #1b1c2400 80%,
            #1b1c2488 90%,
            #1b1c24d7 100%, #1b1c24),
        linear-gradient(90deg, #1b1c2400 90%,
            #1b1c2471 95%,
            #1b1c24af 100%, #00102000);
}

.text-shadow-dark {
    text-shadow: #1b1c24 2px 2px 2px;
}

.box-shadow-inset-r-dark {
    box-shadow: -68px 0px 81px 28px rgba(13, 16, 23, 0.76) inset;
    -webkit-box-shadow: -68px 0px 81px 28px rgba(13, 16, 23, 0.76) inset;
    -moz-box-shadow: -68px 0px 81px 28px rgba(13, 16, 23, 0.76) inset;
}

.box-shadow-inset-accent {
    box-shadow: 0px 0px 52px -11px rgba(196,200,203,0.15);
    -webkit-box-shadow: 0px 0px 52px -11px rgba(196,200,203,0.15);
    -moz-box-shadow: 0px 0px 52px -11px rgba(196,200,203,0.15);
}